*{ font-family: 'Century Gothic', mama ,'Century Gothic';}
body{
    background-image: url(../backgrounds/bg3.jpg);
    background-size: cover;
    margin: 20;
    padding: 20;

}
.maincontaner{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.top{
    padding: 10px 0px 0px 0px;
    width: 95%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin: -15px 10px;
    border-radius: 0px 0px 40px 40px ;
    position: fixed ;
    left: 2%;
    box-shadow: 0px 1px 10px 0px rgba(36, 36, 36, 0.322);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.top h2{
    color: #D93935;
}
.top img{
    height: 55px;
}
.tblusers{
    background-color: rgba(255, 255, 255, 0.685);
    margin: 0px 0px 80px 15px;
    border-radius: 40px;
    padding: 20px;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.first{
    width: 60%;
}
.tblusers::-webkit-scrollbar {
    visibility: hidden;
}
.tablehead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    color: #D93935;
}
.seek{
    margin-top: 10px;
}
.tablehead input{
    padding: 5px 10px;
    width: 40vh;
    height: 40px;
    margin: 10px 0px;
    outline: none;
    margin-top: -10px;
    border: none;
    border-radius: 10px;
    /*margin-right: -50px;*/
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: 0px 1px 10px 0px rgba(36, 36, 36, 0.103);
}
.tablehead img{
    margin-top: -5px;
    margin-right: 10px;
    height: 30px;
}

.data{
    border-radius: 20px;
}
/* div::-webkit-scrollbar{
    display: none;
} */
.buttons{
    width: 95%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin: -10px 10px;
    padding: 10px 0px;
    border-radius: 40px 40px 0px 0px;
    position: fixed ;
    left: 2%;
    bottom: 0;
    box-shadow: 0px 1px 10px 0px rgba(36, 36, 36, 0.322);
}
.buttons button{
    outline: none;
    padding: 5px;
    height:50px;
    width:190px;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color:  #D93935 ;
    color: white;
}
.buttons button:hover{
    background-color: rgba(217, 57, 53, 0.85);
    border-radius: 30px;
    cursor: pointer;
}
.printdata{
    display: none;
}
