*{
    font-family: 'Century Gothic', Andalus, mama, 'Century Gothic';
}
body {
    font-family: 'Century Gothic', Andalus, mama, 'Century Gothic';
    background-image: url(../backgrounds/bg3.jpg);
    background-size: cover;
    margin: 20;
    padding: 20;
}

.maincontaner {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top {
    padding: 10px 0px 0px 0px;
    width: 95%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: -15px 10px;
    border-radius: 0px 0px 40px 40px;
    position: fixed;
    left: 2%;
    box-shadow: 0px 1px 10px 0px rgba(36, 36, 36, 0.322);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.top h2{
    color: #D93935;
}
.headers{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.headers h6{
    margin: 0px;
    padding: 0px;
}

.top img {
    height: 55px;
}
.middle{
    width:80rem;
    height:95vh;
    /* background-image: url(bg5.jpg); */
    background-size: cover;    
    border-radius: 40px;
    padding: 100px 10px 10px 10px;
}

.buttons {
    width: 95%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin: -10px 10px;
    padding: 10px 0px;
    border-radius: 40px 40px 0px 0px;
    position: fixed;
    left: 2%;
    bottom: 0;
    box-shadow: 0px 1px 10px 0px rgba(36, 36, 36, 0.322);
}

.buttons button,input {
    outline: none;
    padding: 5px;
    height: 50px;
    width: 190px;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #D93935;
    color: white;
}

.buttons button:hover,input:hover {
    background-color: rgba(217, 57, 53, 0.94);
    border-radius: 30px;
    cursor: pointer;
}
.info{
    border-radius: 40px;
    margin: 5px;
    padding: 30px;
    border: 1px solid #D93935;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.boxhead{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 40px;
    margin: 5px;
    padding: 10px;
    width: 550px;
    margin-top: -60px;
    background-color: #D93935;
    color: white;
}

.data{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.data div{
    margin:4px;
    width: 100%;
    text-align: left;
}
.signatures{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.signatures div{
    width: 100vh;
    height: 100px;
    margin: 40px;

}